<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tienda ancestral</title>
    
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="comunidad.html">Acerca de la comunidad</a>
            <a href="medicamentos.html">Medicamentos</a>
            <a href="artesanias.html">Artesanías</a>
            <a href="alimentos.html">Alimentos</a>
            <a href="#">Inicia sesión</a>
        </nav>
        <section class="textos-header">
            <h1>Los Embera Chami</h1>
            <h2></h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgb(247, 127, 127);"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">¿Quienes son los Embera Chami</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/comunidad_1.jpg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>¿Quiénes son?</h3>
                    <p>En tiempos prehispánicos los Embera se conocieron como indígenas “chocó” o
                        “chocoes”, y compartieron la lengua nativa, la cosmovisión jaibaná, la movilidad
                        territorial, el gobierno no centralizado, la cultura selvática y la estructura social,
                        que radica en unidades familiares la base de su sociedad y en unidades sociales
                        más amplias, el desempeño de diversas actividades.
                        </p>
                    <h3><span>2</span>¿Cuál es su situación actual?</h3>
                    <p>En la actualidad los Chamí, katíos, dodibas, y eperara Siapidaras, comparten
                        algunos de los rasgos que en tiempos prehispánicos compartieron, que aún les
                        permiten una base de identidad étnica común, como los son su idioma, la
                        tradición oral, el jaibanismo, la organización social, las danzas y los rituales y la
                        reciente participación a través de organizaciones regionales. La comunidad
                        Embera Chami, es una población llena de riquezas culturales, de rituales,
                        celebraciones y festividades. El Censo DANE 2005 reportó 29.094 personas auto reconocidas como pertenecientes
                        al pueblo Embera Chami. El pueblo Embera Chami se concentra principalmente en Risaralda,Caldas y Antioquia. </p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Galería</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="img/Embera_good.jpg" alt="">
                        <div class="hover-galeria" a href="">
                            <img src="img/icono1.png" alt="">
                            <p>Conoce más aquí</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/mujeres_embera.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Conoce más aquí</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/niños_embera.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Conoce más aquí</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/recolección.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Conoce más aquí</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/mujeres_embera2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Conoce más aquí</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/niños_2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="img/icono1.png" alt="">
                            <p>Conoce más aquí</p>
                        </div>
                    </div>
                        <div class="imagen-port">
                            <img src="img/Embera.jpeg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Conoce más aquí</p>
                            </div>
                        </div>
                            <div class="imagen-port">
                                <img src="img/ritual.jpg" alt="">
                                <div class="hover-galeria">
                                    <img src="img/icono1.png" alt="">
                                    <p>Conoce más aquí</p>
                        </div>
                    
                    
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <p>8296312</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>8296312</p>
            </div>
            
        </div>
        
    </footer>
</body>

</html>