<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda ancestral</title>
    
    <link rel="stylesheet" href="css/estilos_login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="comunidad.html">Acerca de la comunidad</a>
            <a href="medicamentos.html">Medicamentos</a>
            <a href="artesanias.html">Artesanías</a>
            <a href="alimentos.html">Alimentos</a>
            <a href="#">Inicia sesión</a>
        </nav>
       
        <div class="wave" style="height: 20px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgb(247, 127, 127);"></path>
            </svg></div>
    </header>
    <main>
        <section class="clientes contenedor">
            <h2 class="titulo">Inicie sesión</h2>
            <div class="cards">
                <div class="card_login">
                    <img src="img/carrito1.png" alt="">
                    <div class="contenido-texto-card">
                        <h4>Ingrese su Usuario</h4>
                        <input type="text" id="name" name="name" required
                         minlength="0" maxlength="15" size="15">
                         <h4>Contraseña</h4>
                         <input type="password" id="name" name="name" required
                         minlength="0" maxlength="25" size="15">
                         
                    </div>
                    <button class="button"> <a class="button_a" href="index.html">Ingresar</a></button>
                    
                </div>
                
        </section>
        
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Teléfono</h4>
                <p>13456</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            
        </div>
        
    </footer>
</body>

</html>