<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Tienda ancestral</title>
        <link th:href="@{/css/estilos_login.css}" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
        <script th:src="@{/js/js.js}"></script>
    </head>

    <body>
        <header>
            <div class="wave" style="height: 20px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                                                                           style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: rgb(247, 127, 127);"></path>
                </svg></div>
        </header>
        <main>
            <section class="clientes contenedor">
                <h2 class="titulo">Inicie sesión</h2>
                <div class="cards">
                    <div class="card_login">
                        <img th:src="@{/img/carrito1.png}" alt="">
                        <div class="contenido-texto-card">
                            <h4>Ingrese su Usuario</h4>
                                <input type="text" id="usuario" name="usuario" required
                                       minlength="0" maxlength="15" size="20">
                                <h4>Contraseña</h4>
                                <input type="password" id="contrasena" name="contrasena" required
                                       minlength="0" maxlength="25" size="20">

                        </div>
                        <button id="botonInicio"  onclick="enviarDatosCliente();" class="button">Ingresar</button>

                    </div>

            </section>

        </main>
        <footer>
                <div class="contenedor-footer">
                    <div class="content-foo">
                        <h4>Teléfono</h4>
                        <p>8296312</p>
                    </div>
                    <div class="content-foo">
                        <h4>Email</h4>
                        <p>juarodriguezgo@unal.edu.co</p>
                        <p>ksolanoc@unal.edu.co</p>
                    </div>

                </div>
            </footer>
    </body>

</html>